html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main part */
body {
  /* overflow-x: hidden; */
  font-family: "deca", Helvetica, sans-serif;
}
@font-face {
  font-family: "deca";
  src: url(../assets/fonts/LexendDeca-VariableFont_wght.ttf);
}

:root {
  --btn-color: #5468e780;
  --primary-color: #232340;
  --secondary-color: #5468e7;
  --text-color: #f5f5f5;
  --background-color: #f5f5f524;
}

/* header part */
header {
  margin: 0 auto;

  width: 100%;
  font-family: "deca", Helvetica, sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header_container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 140px;
}

.header_btn {
  border-radius: 4px;
  display: flex;
  gap: 56px;
}

.header_btn h3 {
  width: 62px;
  color: var(--primary-color);
}

.hed_access {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  width: 184px;
  height: 47px;
}

.hed_access h3 {
  color: var(--primary-color);
  width: 96px;
}

/* footer part */
/* footer first part */

footer {
  padding-bottom: 73px;
  margin: 0 auto;
  padding-top: 73px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  max-width: 1440px;
  padding: 0px 140px;
  margin: 0 auto;
}

.footer_container .footer_top_side {
  display: flex;
  justify-content: space-between;
}
.left_container img {
  width: 138px;
  height: 52px;
}
.left_container p {
  max-width: 168px;
  font-size: 14px;
  line-height: 23px;
  margin-top: 16px;
}
/* footer sec part */

.right_container {
  display: flex;
  gap: 85px;
}

.right_container h2 {
  color: var(--secondary-color);
  font-size: 24px;
  margin-bottom: 16px;
}
.right_container ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right_container_child ul li {
  font-size: 14px;
}
.subscribe_btn {
  margin-top: 10px;
  position: relative;
}
.subscribe_btn input {
  background-color: var(--background-color);
  padding: 16px 0px 11px 16;
  border: none;
  border-radius: 4px;
}
.subscribe_btn img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.footer_container .footer_bottom_side {
  margin-bottom: 37px;
}
.burger {
  display: none;
}
@media (max-width: 568px) {
  .header_container {
    width: 508px;
    height: 52px;
  }
  .header_btn {
    display: none;
  }
  .burger {
    display: block;
  }
  .header_container {
    justify-content: space-between;
  }
  .footer_container {
    flex-wrap: wrap;
  }
}
